body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(vitaminok.jpg) 
    background-size:cover;
    background-repeat: no-repeat;
    width: 700px;
}
h1 {
    text-align: center;
    color: #333;
    font-size: 100px; /* Increase the font size for h1 */
}

.vitamin h2 {
    color: black;
    font-size: 120px; /* Increase the font size for h2 */
}

.vitamin p {
    margin-bottom: 60px;
}